.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}

.track-card{
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px;
    transition: 0.3s;
    border: 4px solid;
    margin-top: 0;
    position: relative;
    color: #ffff;
}

.track-name{
    padding: 15px;
}

.track-card:hover{
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
    transform: translateY(-5px);
}

.track-card > img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: black;
    box-sizing: border-box;
}

.overlay-track{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(20, 18, 28, 0.97);
}

.track-card:hover .overlay-track{
    opacity: 1;
}

.track-text{
    color: white;
    padding-left: 10%;
    padding-top: 10%;
    margin-top: 20px;
}

.track-text p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 6px 0;
    padding-right: 10%;
    font-size: 17px;
}

.track-text p span:first-child::after {
    content: ":";
}

@media(max-width: 800px){
    .grid-container {
        grid-template-columns: 1fr;
    }
    .driver-card, .track-card {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .track-card {
        width: 100%;
    }
}
